.navigation {
  margin-bottom: 50px;
}

.navigation-link {
  text-decoration: none !important;
  margin-right: 20px;
  color: purple;
  &:hover {
    color: red;
  }
  &:last-child {
    margin-right: 0;
  }
}
