//- include html context
include ../modules/config/head.pug
	title index
body
	// navigation
	include ../modules/blocks/navigation.pug
	// navigation__end
	header.header
		.container-fluid
			.row
				.col-12.text-center
					h1.header__title It`s index page
		.container-fluid
			.row
				.col-12.text-center
					.picture
	// footer
	include ../modules/blocks/footer.pug
	// footer__end
//- include scripts
include ../modules/config/scripts.pug