//- include html context
include ../modules/config/head.pug
	title second
body
	// navigation
	include ../modules/blocks/navigation.pug
	// navigation__end
	header.header
		.container-fluid
			.row
				.col-12.text-center
					h1.header__title It`s second page
		.container-fluid
			.row.justify-content-center
				.col-6.text-center
					p.desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id error nesciunt hic obcaecati possimus! Quia eum hic mollitia quidem consequuntur iste consectetur atque esse expedita voluptatem, vero id laboriosam odio?
	// footer
	include ../modules/blocks/footer.pug
	// footer__end
	//- include scripts
	include ../modules/config/scripts.pug