@import "../../modules/index.scss";

body {
  font-family: "Roboto-BlackItalic", sans-serif;
}

.header__title {
  color: blue;
}

.picture {
  background-image: url(../../../img/demo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  max-height: 300px;
}
