body {
  font-family: "Roboto-BlackItalic", sans-serif;
}

h1 {
  color: blue;
}

.picture {
  background-image: url(../../img/demo.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
