@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("Roboto/Roboto-BlackItalic.eot");
  src: local("☺"), url("Roboto/Roboto-BlackItalic.woff") format("woff"), url("Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("Roboto/Roboto-Bold.eot");
  src: local("☺"), url("Roboto/Roboto-Bold.woff") format("woff"), url("Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("Roboto/Roboto-Regular.eot");
  src: local("☺"), url("Roboto/Roboto-Regular.woff") format("woff"), url("Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
